<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link rel="stylesheet" type="text/css" href='../styles/style.css'>
</head>
<body>
  <div id="app">
    <div class="box">
      <h1>Travel App</h1>
      <div class="text">Type in where do you wanna go and when does your adventure start.</div>
    </div>
    <div class="box">
      <form onsubmit="return handleSubmit(event)">
        <input id="inputLocation" type="text" name="location" value="" placeholder="Where do you want to travel?"><BR>
        <input id="inputDate" type="date" name="date" value=""><BR><BR>
        <input id="submit" type="submit" name="" value="Go!" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
        <div id="errorMSG"></div>
      </form>
    </div>
    <div class="box">
      <div id="results"></div>
    </div>
    <div class="box">
      <div id="resultsImg"></div>
    </div>
  </div>

  <script src="../js/formHandler.js" type="text/javascript"></script>

</body>
</html>