@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
    background: #000000;
    font-family: 'Nunito', sans-serif;
}

#app {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100vh;
    justify-content: center;
    grid-gap: 1em;
} 

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid navy;
    border-style: solid;
    border-radius: 30px;
    background-image: linear-gradient(skyblue, navy);
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

h1, h2 {
    color: skyblue;
}

#inputLocation {
    border: 1px solid navy;
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

#inputDate {
    border: 1px solid navy;
    border-radius: 10px;
    width: 35%;
    padding: 5px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

#submit {
    border: 1px solid navy;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

#submit:hover {
    background-color: navy;
    color: white;
    cursor: pointer;
}

.pixImage {
    max-width: 80%;
    height: auto;
}

#results {
    font-size: smaller;
    font-family: 'Nunito', sans-serif;
}

#errorMSG {
    font-size: smaller;
    color: red;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}